@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  background-color: #FCFFE7;
}

/* Header */
.header {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.header-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.header-logo img {
  width: 50px;
}

.header-menu ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 18px;
}
.header-menu li {
  list-style: none;
}
.header-menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
}
.header-menu img {
  width: 20px;
}

/* Search */
.search {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.search-input {
  margin-bottom: 40px;
  padding: 10px 10px 2px 5px;
  border: none;
  border-bottom: 1px solid #0B1F44;
  background-color: #FCFFE7;
  font-size: 22px;
  width: 70%;
}

.search-input:focus {
  outline: none;
  border-bottom: 3px solid #0B1F44;
}
.search-button {
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #0B1F44;
  border-radius: 2px;
  color: #FCFFE7;
}
.search-button:hover {
  transform: scale(1.1);
}

/* Main-content */
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 15px;
}

/* Card */

.card {
  position: relative;
  background-color: #0B1F44;
  padding: 26px;
  color: #FCFFE7;
  border-radius: 8px;
}
.card .city {
  position: relative;
  font-weight: 300;
  margin-bottom: 10px;
}
.card .country {
  margin-left: 5px;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
}
.card .temperature {
  position: relative;
  font-size: 40px;
  font-weight: bold;
}
.card .weather {
  display: block;
  margin: auto;
}
.card .weather-description {
  text-transform: capitalize;
  text-align: center;
}

.card .degrees {
  margin-left: 5px;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  line-height: 42px;
}

.remove {
  line-height: 0;
  position: absolute;
  top: calc(0% - -12px);
  right: calc(0% - -8px);
  cursor: pointer;
  display: none;
}
.remove:hover {
  transform: scale(1.2);
}
footer {
  margin: 30px 0;
  text-align: center;
}
footer a{
  color: #000;
}

.card:hover .remove{
  display: block;
}

/* Menu */
.menu-button {
  display: none;
}

.menu-close {
  display: none;
}


@media (max-width: 500px) {
  .header-logo h1 {
    font-size: 34px;
  }
  .header-menu {
    display: none;
  }
  .menu-button {
    display: inline-flex;
    cursor: pointer;
  }
  .menu-button img {
    width: 50px;
    z-index: 3;
  }
  .menu {
    /* display: block; */
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 90%;
    height: 50vh;
    display: none;
    border: 1px solid #0B1F44;
    z-index: 1;
    transition: opacity .95s;
    opacity: 1
  }
  .menu img {
    width: 30px;
    height: 30px;
  }
  .menu-nav {
    display: grid;
    height: 100%;
  }
  .menu-nav a {
    color: #000;
    font-size: 24px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    text-decoration: none;
  }
  .menu-nav a:hover {
    background-color: rgb(176, 176, 176);
  }
}

